html, body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    color: rgb(84 74 42 / 60%);
}

.navbar{
    background-color: rgb(251, 251, 250);
    font-size: 16px;
    font-weight: 500;
    color: rgb(55,53,47);
    height:100%;
    width: 220px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.navbarheader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 12px 0px 12px 0px;
    width: 100%;
}

.navbarheader:hover{
    background-color: rgb(55, 53, 47, 0.08);
    transition: ease-in 0s; 
    cursor: pointer; 
}

svg:hover{
    background-color: rgb(55, 53, 47, 0.08);
    border-radius: 3px;
    transition-delay: 0s;
    cursor: pointer;
}

.nbheaderuser{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding-left: 6px;
    padding-right: 6px;
}

a{
    text-decoration: none;
}

.nbwplaces a{
    color:rgb(84 74 42 / 60%);
}

.nbwplaces{
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
    margin: 6px 0px 6px 0px;
}

.workplace{
    color: rgb(55,53,47);
    margin-left: 220px;
}

.wpnavbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding: 0px 10px 0px 12px;
    height: 45px;
}

.wpnbinfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 6px;
    padding-right: 6px;
    height: 24px;
}

.wpnbinfo:hover{
    background-color: rgb(55, 53, 47, 0.08);
    transition: ease-in 0s; 
    cursor: pointer; 
    border-radius: 6px;
}

.wpnbinfo *{
    font-size: 14px;
    flex-grow: 0;
}

.workplacebody{
    margin-left: 20px;
}

.taskslist{
    margin-left: 32px;
}

.task{
    backdrop-filter: blur(20px);
    margin-bottom: 12px;
    padding: 10px;
    width: 90%;
    height: 55px;
    background-color: #E0E0E0;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.taskinfo{
    margin-left: 12px;
    display: flex;
    flex-direction: column;
}

.task input[type="checkbox"]{
    margin-right: 12px;
    width: 20px;
    height: 20px;
}

[contenteditable] {
    outline: 0px solid transparent;
  }